@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
    --navbackground: rgba(135,206,235,.85);
}
html {
    height: 100%;
}

*,*::before, *::after{
    box-sizing: border-box;
}

h1,h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-weight: bold;
}

form { display: table;}
form p { display: table-row; padding-bottom: .5em;}
form label { display: table-cell; padding-right:1em; vertical-align: middle}
form input { display: table-cell; height: 100%;}
form textarea, form input {vertical-align: middle;}
#form-div {display: flex;justify-content: flex-start;}
#comment-dection {list-style: none;}

body {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  --main-white-color: white;
  --main-purple-color: #9e89b8;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-main {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
}

#greeting-container , #fact-container {
  margin-top: 20px;
}

/* nav styles start here */

header{
    background: var(--navbackground);
    justify-content: center;
    margin: 0;
    max-height: 100px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-toggle{
    display:none;
}

.nav-toggle-label{
    align-items: center;
    display: flex;
    height: 100%;
    left:0;
    margin-left: 1em;
    position: absolute;
    top:0;
}

nav{
    align-content: center;
    background: var(--navbackground);
    justify-content: center;
    position: absolute;
    text-align: left;
    transition: transform 400ms ease-in-out;
    transform: scale(1,0);
    transform-origin: top;
    width: 100%;
    max-height: 100px;
}
nav h1 {
  height: 100%;
  text-transform: uppercase;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    font-size: 1.3rem;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: black;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width:800px){
    .nav-toggle-label {
        display:none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        align-items: center;
        all: unset;
        display: flex;
        grid-column: 3 / span 1;
        justify-content: flex-end;
        flex: 1;
    }

    nav ul {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    nav li {
        margin-left:3em;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        background: black;
        content:'';
        display:block;
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        top: -.75em;
        transform: scale(0,1);
        transition: transform  ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* nav styles end here */

/* footer styles start here */

.page-footer {
  align-items: center;
  background:rgba(35,43,43,.3);
  display: flex;
  flex-direction: row;
  justify-content:center;
  position: relative;
  
}

.page-footer ul {
  display: inline-flex;
  list-style-type: none;
}

.page-footer li {
  list-style-type: none;
}

.page-footer i {
    padding: 5px 20px 5px 20px;
}

.icon {
    color: black;
    padding: 20px;
}

.icon:hover{
    color: whitesmoke;
    transition: .45s;
}

/* footer styles end here */

/* comment styles start here */
#comments-display-div {
    max-width : 700px;
    word-wrap: break-word;
    display: flex;  
    flex-wrap: wrap;
}

#comment-section {
    list-style-type: none;
    width: 500px;
    display:flex;
    flex-direction:column;
}

#comment-section li {
    border: 3px groove orange;   
    overflow-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px;
    display:flex;
    flex-direction:column;
}

.post-info {
    display:flex;
    flex-direction:column;
}

#horiz-flex-div {
    display:flex;
    flex-direction:row;
}

.separated {justify-content: space-between}

#inv-btn {
    background: transparent;
    border: none !important;
}

.author {padding-right:10px;}
.rtg {padding-left:10px;}

#delete-comm-btn-wrapper {margin:0;}